#Noticia {
    text-align: center;
    color: dimgray;
}
#línea_separación {
    color: dimgray;
}
#portada {
   text-align: center
}
#BRICOLAJE-1 {
    background-color:rgba(187, 160, 121, 0.699);
    padding: 20px;
    text-align: center;
    margin: 50px;
}
#BRICOLAJE-2 {
    background-color:rgba(187, 160, 121, 0.699);
    padding: 20px;
    text-align: center;
    margin: 50px;
}
#HERRAMIENTAS-1 {
    background-color: rgba(202, 196, 188, 0.699);
    padding: 20px;
    text-align: center;
    margin: 50px;
}
#HERRAMIENTAS-2 {
    background-color: rgba(202, 196, 188, 0.699);
    padding: 20px;
    text-align: center;
    margin: 50px;
}
#DECORACIÓN-1 {
    background-color: rgba(122, 93, 66, 0.699);
    padding: 20px;
    text-align: center;
    margin: 50px;
}
#DECORACIÓN-2 {
    background-color: rgba(122, 93, 66, 0.699);
    padding: 20px;
    text-align: center;
    margin: 50px;
}
#Noticias {
    text-align: center;
    margin: 50px;
}
#Noticias-2 {
    text-align: center;
    margin: 50px;
}
#Noticia2_contenido {
    text-align: left;
    margin: 3em;
}
table {
    
    width: 50%;
    border-collapse: collapse;
    background-color: rgba(252, 252, 252, 0.699);
    margin: auto;
}
td {

    border: 1px solid black;
    text-align: center;
    padding: 20px;
}
ul {
    text-align: left;
    display: inline-block;
}
ol {
    text-align: left;
    display: inline-block;
}