#Noticia {
    text-align: center;
    color: dimgray;
}
.Secciones {
    color: dimgray;
    text-align: center
}
.Encabezado {
    color: white;
    text-align: center;
}
.Encabezados_Noticias {
    color: rgb(160, 133, 93);
}
#línea_separación {
    color: dimgray;
}
#portada {
   text-align: center
}
#footer {
    background-color: dimgray;
    text-align: center;
    padding: 20px;
    color: white;
}
.BRICOLAJE {
    background-color:rgba(187, 160, 121, 0.699);
    padding: 20px;
    text-align: center;
    margin: 50px;
}
.HERRAMIENTAS{
    background-color: rgba(202, 196, 188, 0.699);
    padding: 20px;
    text-align: center;
    margin: 50px;
}
.DECORACIÓN {
    background-color: rgba(122, 93, 66, 0.699);
    padding: 20px;
    text-align: center;
    margin: 50px;
}

#Noticias {
    text-align: center;
    margin: 50px;
}
#Noticias-2 {
    text-align: center;
    margin: 50px;
}
#Noticia2_contenido {
    text-align: left;
    margin: 3em;
}
table {
    
    width: 50%;
    border-collapse: collapse;
    background-color: rgba(252, 252, 252, 0.699);
    margin: auto;
}
td {

    border: 1px solid black;
    text-align: center;
    padding: 20px;
}
ul {
    text-align: left;
    display: inline-block;
}
ol {
    text-align: left;
    display: inline-block;
}
form {
    position: relative;;
    width  : 500px;
    height : 498px;
    margin-top : 80px;
    margin-left: 400px;
}
#Bienvenido {
    margin-left: 200px;
    margin-top: 200px;
}
legend {
    text-align: center;
}